header {
  padding: 10px 0;
}

.container {
  max-width: 1240px;
  width: 100%;
  margin: 0 auto;
}

.divflx {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

ul {
  display: flex;
  column-gap: 20px;
  align-items: center;
}

.logo {
  display: inline-block;
}

li a {
  color: #636060;
  font-family: Helvetica;
  font-size: 17px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.p-h {
  padding-right: 50px;
  vertical-align: top;
}
.s-1 {
  height: 606px;
  background-image: url("../images/banner.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.textwrapper h1 {
  color: #fff;
  font-family: Helvetica;
  font-size: 79px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-align: center;
  margin-bottom: 31px;
}
.textwrapper h4 {
  color: #fff;
  font-family: Helvetica;
  font-size: 19px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-align: center;
}

.s-2 {
  width: 235px;
  height: 20px;
  /* border: 2px solid red; */
  margin-top: 87px;
  margin-left: 100px;
  margin-right: 83px;
  vertical-align: top;
}
.p1 {
  color: #636060;
  font-family: Helvetica;
  font-size: 17px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  padding-bottom: 10px;
}

.p2 {
  color: #010101;
  font-family: Helvetica;
  font-size: 28px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-bottom: 20px;
}

.p3 {
  color: #636060;
  font-family: Helvetica;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.cardsdiv {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  /* border: 2px solid red; */
  width: 961px;
  margin-right: 140px;
  margin-bottom: 140px;
}
.cards {
  margin-right: 33px;
  width: 286px;
  height: 330px;
  flex-direction: row;
}

.c1 {
  color: #343232;
  font-family: Helvetica;
  font-size: 19px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-top: 23px;
  margin-bottom: 9px;
}

.c2 {
  color: #636060;
  font-family: Helvetica;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  width: 286px;
}
